nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul li{
    display: inline-flex;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
 color: #181818;
 font-size: 45px;
 font-weight: 800;

}
.texprimary{
    color:#FD6E0A ;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-prmry{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:  #FFF;
    font-size: 20px;
    padding: 15px 35px;
    height: fit-content;
    width:fit-content ;

}
.hd{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: inline-flex;
}
.banner .propic{
    width: 500px;
}
